.photo-grid {

width: 1184px;
margin: 92px auto 0 auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 16px;

}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .photo-grid {

       
        grid-template-columns: repeat(4, 1fr);
       

}
}