.lead__title {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;




}