.cover__title {



    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    max-width: 493px;
    width: 100%;






}